
.UUID-POSTS-5e709592720d170833 .teaser_grid_container {
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 10px 10px 4px 10px;
}

.UUID-POSTS-5e709592720d170833 {
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media only screen and (max-width: 992px) {
    .UUID-POSTS-5e709592720d170833 .vc_span_mobile {
        float: left !important;
        max-width: 99.8% !important;
    }
}

.UUID-POSTS-5e709592720d170833 li:hover {
    transition: all .6s ease;
}

.UUID-POSTS-5e709592720d170833 li {
    transition: all .6s ease;
}


@media only screen and (max-width: 768px) {
    #vc_header_5e7095926ddf1497 .header_title {
        font-size: 18px !important;
    }
}

@media only screen and (max-width: 768px) {
    #vc_header_5e7095926ddf1497 .header_subtitle {
        font-size: 15px !important;
    }
}

.UUID-POSTS-5e709592720d170833 .teaser_grid_container {
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 10px 10px 4px 10px;
}

.UUID-POSTS-5e709592720d170833 {
    -webkit-box-shadow: none;
    box-shadow: none;
}


@media only screen and (max-width: 992px) {
    .qfy-column-3-5e709592778ed647759 > .column_inner {
        margin: 0 auto 0 !important;
        min-height: 0 !important;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.bit_main_content {
    margin-top: 0px;
    margin-bottom: 0px
}

@media screen and (min-width: 760px) {
    .bit_main_content {
        min-height: 100px;
    }
}

.qfe_row .vc_span4, .qfe_row .vc_span12 {
    position: relative;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    max-width: 100%;
}



@media screen and (max-width: 992px) {
    .qfe_row .vc_span4, .qfe_row .vc_span12 {
        width: 100%;
    }
}


@media only screen and (max-width: 992px) {

    #header .wf-wrap {
        padding-left: 10px;
        padding-right: 10px;
    }

    #header .wf-wrap .wf-table #branding {
        display: table;
        margin: 0 auto;
        width: 100% !important;
        max-width: 100% !important;
    }

    #header .wf-wrap .wf-table {
        table-layout: fixed;
    }

    .qfe_row .vc_span4, .qfe_row .vc_span12 {
        padding: 0px !important;
    }

    section.section {
    }

    .content-fullwidth #page #main .wf-wrap .qfe_row {
        padding: 0 !important;
    }

    .column_inner {
        min-height: 0 !important;
    }

    .qfe_content_element {
    }
}

@media screen and (max-width: 768px) {

    #page {
        max-width: 100%;
    }

    #header #navigation {
        left: 0 !important;
        top: 0 !important;
    }

    .background-media {
        background-attachment: scroll !important;
    }

    .column_inner {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    #header.menuPosition #navigation #main-nav {
        bottom: 0px !important;
        left: 0px !important;
    }
}

@media screen and (max-width: 768px) {
    section.smfull, .content-fullwidth #page #main .wf-wrap .section.smfull .qfe_row, .content-fullwidth #page #main .wf-wrap .section.smfull .vc_span_mobile {
        padding: 0px;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {

    #branding.bit-logo-bar {
        margin-left: 0 !important;
    }

    #navigation > #main-nav {
        display: none;
    }
}

footer, header, nav, section {
    display: block;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

a {
    background: transparent;
}

img {
    border: 0;
}

.vc_clearfix {
    *zoom: 1;
}

.vc_clearfix:before, .vc_clearfix:after {
    display: table;
    content: "";
}

.vc_clearfix:after {
    clear: both;
}

.qfe_row *, .qfe_row *:before, .qfe_row *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.qfe_row {
    margin: 0;
}

.qfe_row:before, .qfe_row:after {
    content: " ";
    display: table;
}

.qfe_row:after {
    clear: both;
}

.qfe_row:before, .qfe_row:after {
    content: " ";
    display: table;
}

.qfe_row:after {
    clear: both;
}

.qfe_row .vc_span4, .qfe_row .vc_span12 {
    margin-left: 0;
}

.qfe_text_column p:last-child, .qfe_text_column *:last-child {
    margin-bottom: 0;
}

.qfe_content_element, ul.qfe_thumbnails-fluid > li {
    margin-bottom: 35px;
}

body ul.qfe_thumbnails-fluid li {
    padding: 0;
    margin-left: 0;
    background-image: none;
    list-style: none !important;
}


.qfe_row .qfe_grid ul.qfe_thumbnails-fluid {
    padding: 0;
    overflow: visible !important;
}

.qfe_teaser_grid .entry-content {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    width: auto ! important;
}

.content-fullwidth #page #main .wf-wrap .qfe_row {
    padding: 0 40px;
}

ul {
    *margin-right: 0px;
}

h2 {
    font-weight: normal;
}

.qfe_wrapper {
    word-wrap: break-word;
}

.wf-td.blog-content {
    vertical-align: top;
    font-size: 14px;
    color: #8d9095;
    padding-right: 5px;
    text-align: left;
}

.post_blog .post-title {
    color: #373a41;
    margin-bottom: 10px;
    display: inline-block;
}

.post_blog .post-comment {
    margin-bottom: 10px;
}

.isotope-item .post-title, .isotope-item .entry-content {
    position: relative;
    min-width: 80px;
    clear: both;
}

.blog-content .post-comment {
    margin-bottom: 5px;
    clear: both;
}

.blog-content .post-title {
    margin-bottom: 10px;
}

.post-title {
    font-weight: bold;
}

.blog-content.wf-td {
    width: 100%;
}

.bitem.logo.small {
    max-height: 50px
}

.bitem.logo.small img {
    max-height: 50px;
    width: auto
}

footer, header, nav, section {
    display: block
}



html {
    font-size: 100%;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none
}

a:active, a:focus, a:hover {
    outline: 0
}

ul {
    list-style: none;
    list-style-image: none
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic
}

section.section:not(.overflowauto) {
    overflow: hidden;
}

.clear {
    clear: both
}


.wf-table {
    display: table;
    width: 100%;
}

.wf-td {
    display: table-cell;
    vertical-align: middle;
}

.wf-container {
    margin: 0px;
    padding: 0px;
}

.wf-wrap {
    padding: 0 40px;
    margin: 0 auto;
}

h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    clear: both;
}

#main h2 {
    text-shadow: none;
}

#footer {
    position: fixed;
    width: inherit;
}

#page {
    position: relative;
    overflow: hidden;
    width: 100%;
}

#main .wf-wrap {
    margin: 0 auto;
    padding: 0px 40px;
}

#branding {
    padding: 10px 0;
    position: relative;
}

.bitem.logo {
    position: relative;
}

#main-nav {
    padding: 0px;
    line-height: 0;
}

#main-nav.mainmenu > li {
    display: inline-block;
    position: relative;
    z-index: auto;
    vertical-align: middle;
}

#main-nav > li:first-child {
    margin-left: 0;
}

#main-nav > li > a {
    display: block;
    border: 1px solid transparent;
    text-decoration: none;
    text-align: left;
}

#main-nav.underline-hover > li > a i.underline {
    position: absolute;
    display: block;
    overflow: hidden;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 1px;
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

#main-nav.underline-hover > li > a {
    transition: color 0.2s ease;
}

#main-nav.underline-hover > li.act > a i.underline, #main-nav.underline-hover > li.act:hover > a i.underline {
    width: 100%;
    opacity: 1;
    left: 0;
}

.footer {
    padding: 30px 0 20px 0;
}

#branding a img, #branding img {
    height: auto;
}

p {
    margin: 0px;
    padding: 0px;
}

.content-fullwidth #page #main .wf-wrap {
    padding: 0;
}

.container {
    position: relative;
    z-index: 3
}

.section {
    position: relative;
    z-index: 4;
}

.background-media, .background-overlay {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0
}

.background-media {
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 1;
    overflow: hidden;
}

.background-overlay {
    z-index: 2
}

.qfe_wrapper ul {
    list-style-type: disc;
    list-style-position: inside;
}

a {
    text-decoration: none !important;
}

#header {
    position: relative;
}

.qfy-text {
    min-height: 1px;
}

.line-abs {
    border-bottom: 1px solid #333;
    display: inline-block;
    float: none;
    height: 1px;
    margin: 0 auto;
    position: absolute;
    right: 100%;
    top: 50%;
    width: 100px;
    max-width: 100%;
}

.line-abs.top {
    right: auto;
    display: block;
    top: 0;
    position: relative;
}

.qfy_title.left {
    text-align: left;
}

.qfy_title *, .qfy_title .qfy_title_image_warpper *, .qfy_title:hover *, .qfy_title:hover .qfy_title_image_warpper * {
    transition: all ease .6s;
}

#header .bitem.logo .logospan {
    display: inline-block;
    position: relative;
}

.qfy-column-inner > .column_inner {
    transition: all 0.3s ease 0s;
}

.background-media {
    -webkit-backface-visibility: hidden;
}


.wf-container:before {
    content: "";
    display: table;
}

.wf-container:after {
    content: "";
    display: table;
    clear: both;
}

html, body, .wf-container > * {

    word-spacing: normal;
    color: #8d9095;
    font-family: "微软雅黑", Helvetica, Arial, Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
}

body {
    background: #ffffff none no-repeat fixed center top;
    background-size: cover;
}

#page {
    background: #ffffff none no-repeat left top;
    background-size: auto;
}

a {
    color: #5ec7b2;
    text-decoration: none;
}

h2 {
    color: #373a41;
    text-transform: none;
}

#main-nav:before {
    content: "";
    display: table;
}

#main-nav:after {
    content: "";
    display: table;
    clear: both;
}

#main-nav > li {
    margin-left: 20px;
    margin-right: 20px;
}

#main-nav > li > a {
    padding: 6px 0 7px;
}

#main-nav > li.act > a, #main-nav > li.act:hover > a {
    color: #eeeeee;
}

#footer {
    background: #2d3237 none repeat center top;
    border-top: 1px solid transparent;
}

#header #main-nav.bit-menu-default > li > a i.underline {
    background-color: #5ddffe;
}

.wide #header .wf-table {
    max-width: 1280px;
    margin: 0 auto;
}

.wide #footer .wf-wrap {
    max-width: 1280px;
    margin: 0 auto;
}

#main-nav > li > a {
    font: normal normal 16px / 24px "微软雅黑", Helvetica, Arial, Verdana, sans-serif;
    text-transform: none;
}

#main-nav > li {
    margin-left: 20px;
    margin-right: 20px;
}

#header .wf-table {
    height: 74px;
    min-height: 74px;
}

#header {
    background: #ffffff none repeat center top;
    border-bottom: 1px solid transparent;
}

#header.headerPM {
    padding: 0px 5px 0px 3px;
    margin: 0px 0px 0px 0px;
}

#footer {
    padding: 20px 0px 20px 0px;
    margin: 0px 0px 0px 0px;
    bottom: 0px;
}

#main-nav > li > a {
    color: #fff;
}



@media screen and (max-width: 992px) {
    body #header .wf-wrap .wf-table #branding {
        table-layout: fixed
    }
}



@-webkit-keyframes circle{0%,100%,50%{-webkit-transform:translate(0,0);transform:translate(0,0)}25%{-webkit-transform:translate(160px,80px);transform:translate(160px,80px)}75%{-webkit-transform:translate(-160px,-80px);transform:translate(-160px,-80px)}}@keyframes circle{0%,100%,50%{-webkit-transform:translate(0,0);transform:translate(0,0)}25%{-webkit-transform:translate(160px,80px);transform:translate(160px,80px)}75%{-webkit-transform:translate(-160px,-80px);transform:translate(-160px,-80px)}}@-webkit-keyframes triangle{0%,100%,50%{-webkit-transform:translate(0,0) rotate(26deg);transform:translate(0,0) rotate(26deg)}25%{-webkit-transform:translate(-140px,-80px) rotate(54deg);transform:translate(-140px,-80px) rotate(54deg)}75%{-webkit-transform:translate(140px,80px) rotate(0);transform:translate(140px,80px) rotate(0)}}@keyframes triangle{0%,100%,50%{-webkit-transform:translate(0,0) rotate(26deg);transform:translate(0,0) rotate(26deg)}25%{-webkit-transform:translate(-140px,-80px) rotate(54deg);transform:translate(-140px,-80px) rotate(54deg)}75%{-webkit-transform:translate(140px,80px) rotate(0);transform:translate(140px,80px) rotate(0)}}@-webkit-keyframes squareindex{0%,100%,50%{-webkit-transform:translate(0,0) rotate(-156deg);transform:translate(0,0) rotate(-156deg)}25%{-webkit-transform:translate(-120px,-80px) rotate(-186deg);transform:translate(-120px,-80px) rotate(-186deg)}75%{-webkit-transform:translate(120px,80px) rotate(-126deg);transform:translate(120px,80px) rotate(-126deg)}}@keyframes squareindex{0%,100%,50%{-webkit-transform:translate(0,0) rotate(-156deg);transform:translate(0,0) rotate(-156deg)}25%{-webkit-transform:translate(-120px,-80px) rotate(-186deg);transform:translate(-120px,-80px) rotate(-186deg)}75%{-webkit-transform:translate(120px,80px) rotate(-126deg);transform:translate(120px,80px) rotate(-126deg)}}.layout-bg-circle{position:absolute;top:50%;left:50%;width:870px;height:870px;margin-top:-800px;margin-left:-1200px;-webkit-animation:circle 80s linear infinite;animation:circle 80s linear infinite;border-radius:50%;background:red}.layout-bg-square{position:absolute;top:50%;left:50%;width:700px;height:700px;margin-top:-200px;margin-left:-420px;-webkit-transform:rotate(156deg);-ms-transform:rotate(156deg);transform:rotate(156deg);-webkit-animation:squareindex 60s linear infinite;animation:squareindex 60s linear infinite;border-radius:10px;background:#000}.layout-bg-triangle{margin-top:-150px;margin-left:1200px;position:absolute;width:0;height:0;-webkit-transform:rotate(26deg);-ms-transform:rotate(26deg);transform:rotate(26deg);-webkit-animation:triangle 100s linear infinite;animation:triangle 100s linear infinite;border-right:320px solid transparent;border-bottom:554px solid blue;border-left:320px solid transparent}




