<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>多疾病自动诊断系统开发</title>
    <style id="static-stylesheet" type="text/css"></style>
    <link href="{{ url_for('static', filename='test.css') }}" media="all" rel="stylesheet"
          type="text/css"> <!-- Cache! -->
</head>


<body class="image-blur content-fullwidth">

<div class=" wide " id="page">

    <header class="logo-left-right headerPM menuPosition" id="header" role="banner">

        <div class="wf-wrap">
            <div class="wf-table">
                <!-- iMed logo -->
                <div class="wf-td bit-logo-bar" id="branding" style="">
                    <a class="bitem logo small" href="http://www.imed-lab.com/" style="display: table-cell;">
                        <span class="logospan">
                            <img alt="iMED医疗影像/眼科影像团队"
                                 class="preload-me"
                                 height="156" src="{{ url_for('static', filename='iMed.png') }}"
                                 width="512">
                        </span>
                    </a>
                </div>

                <!-- !- Navigation -->
                <nav class="wf-td" id="navigation">
                    <ul class="mainmenu fancy-rollovers wf-mobile-hidden bit-menu-default underline-hover position-text-right"
                        id="main-nav">
                        <!-- list item 1 -->
                        <li class=" menu-item menu-item-type-post_type menu-item-object-page bit-menu-post-id-9722 menu-item-9723 first level-arrows-on">
                            <a href="http://www.imed-lab.com/">
                                <span style="color:deepskyblue;font-family:微软雅黑">
                                    首页<i class="underline"></i>
                                </span>
                            </a>
                        </li>
                        <!-- list item 2 -->
                        <li class=" menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-15501 current_page_item bit-menu-post-id-15501 menu-item-15504 act level-arrows-on">
                            <a href="./Search.html">
                                <span style="color:deepskyblue;font-family:微软雅黑" >
                                    <i class="underline"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </header>


    <div class="bit_main_content" id="main">
        <div class="wf-wrap">
            <!-- section1 -->
            <section
                    class="qfy-row-1-5e7095926d9d5420220 section     no  section-text-no-shadow section-inner-no-shadow section-normal section-orgi">
                <!-- 背景图片 -->
                <div backgroundsize="true" class="background-media   " data-imagebgs=""
                     data-time="3"
                     style="background-image: url(https://cdn.goodq.top/caches/8f9363c9ebbef5d06bb5b9faed32db3f/aHR0cDovL3d3dy5pbWVkLWxhYi5jb20vcWZ5LWNvbnRlbnQvdXBsb2Fkcy8yMDE4LzAyLzdmMjJlMWM2OGNhNGQyYTAzNzZhZWM0ZTM5OGM4M2Y2LmpwZWc_p_p100_p_3D.png); background-repeat:no-repeat; background-size:cover; background-attachment:scroll; background-position:0 0%;">
                    <div class="layout-bg qfy_bg_canvas_3"
                         data-bgcolor="rgba(38,212,239,0.6)" style="pointer-events: none;">
                        <div class="layout-bg-circle"
                             style="background:rgba(38,212,239,0.6);animation-duration: 80s; "></div>
                        <div class="layout-bg-square"
                             style="background:rgba(255,255,255,0.6);animation-duration: 80s; "></div>
                        <div class="layout-bg-triangle"
                             style="border-bottom-color:rgba(38,212,239,0.6);animation-duration: 80s; "></div>
                    </div>
                </div>
                <!-- 蓝色背景 -->
                <div class="section-background-overlay background-overlay grid-overlay-0 "
                     style="background-color: rgba(38,212,239,0.7);"></div>
                <!-- 二级标题 -->
                <div class="container">
                    <div class="row qfe_row">
                        <div class=" qfy-column-1-5e7095926dd01176728 qfy-column-inner  vc_span12  text-Default small-screen-undefined column_middle fullrow">
                            <div class="qfy-element minheigh1px qfe_text_column qfe_content_element "
                                 css_animation_delay="0"
                                 data-ani_iteration_count="1"
                                 data-anitime="0.7"
                                 id="vc_header_5e7095926ddf1497"
                                 m-padding="18px 0 17px 0"
                                 p-padding="0 0 0 0"
                                 qfyuuid="qfy_header_nxfs7-c-s2"
                                 style="position: relative; background-repeat: no-repeat; margin-top: 0px; margin-bottom: 0px; padding: 18px 0px 17px;">

                                <div class="qfe_wrapper">

                                    <h2 class="qfy_title left mobileleft">
                                        <div class="qfy_title_image_warpper"
                                             style="display:inline-block;position:relative;max-width:100%;">
                                            <div class="qfy_title_inner"
                                                 style="display:inline-block;position:relative;max-width:100%;">

                                                        <span class="line-abs top hleft"
                                                              style="overflow:hidden;border-bottom-style:solid;width:64px;max-width:64px;border-bottom-width:6px;border-bottom-color:#ffffff;margin-left:0px;margin-bottom:20px;"></span>

                                                <div class="header_title"
                                                     style="font-family:微软雅黑;font-size:34px;font-weight:bold;font-style:normal;color:#ffffff;display:block;vertical-align:bottom;">
                                                    多疾病自动诊断系统开发
                                                </div>

                                                <div class="header_subtitle"
                                                     style="font-family:微软雅黑;font-size:14px;font-weight:normal;font-style:normal;color:#ffffff;display:block;padding:10px 0 0 0;vertical-align:bottom;"></div>
                                            </div>
                                        </div>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 二级标题结束 -->

            </section>

            <!-- section2 -->
            <section class="qfy-row-2-5e7095926ded5628494 section     smfull  section-text-no-shadow section-inner-no-shadow section-normal section-orgi"
                    data-fixheight=""
                    id="bit_n6ilk"
                    style="margin-bottom:0;border-radius:0px;color:#0c0b0b;">
                <div class="section-background-overlay background-overlay grid-overlay-0 "
                     style="background-color: #ffffff;"></div>

                <div class="container">
                    <div class="row qfe_row">
                        <div class=" qfy-column-2-5e7095926df5a977250 qfy-column-inner  vc_span12  text-Default small-screen-undefined fullrow"
                             data-animaleinbegin="90%"
                             data-animalename="qfyfadeInUp" data-delay=""
                             data-duration="1"
                             data-dw="1/1" data-fixheight="">
                            <div class="column_inner "
                                 style="margin: 0;border-radius:0px;;position:relative;">
                                <div class="column_containter"
                                     style="z-index:3;position:relative;">
                                    <div class="qfy-element  UUID-POSTS-5e709592720d170833 qfe_teaser_grid qfe_content_element  qfe_grid columns_count_1 columns_count_1 qfe_teaser_grid_post  "
                                         css_animation_delay="0" data-cate="55"
                                         data-loading="" data-loading-w="" data-open="0"
                                         data-post="post" id=""
                                         m-padding="0 0 0 0"
                                         p-padding="0 0 0 0"
                                         qfyuuid="qfy_posts_grid_8716w-c-2c"
                                         style="margin-top:0;margin-bottom:0;padding: 0;">

                                        <div class="qfe_wrapper">
                                            <div class="teaser_grid_container noanimale"
                                                 data-cate="55"
                                                 data-pcate="" data-type="post"
                                                 style="background-repeat: repeat;;clear:both;">

                                                <!-- this position -->
                                                <ul class="qfe_thumbnails qfe_thumbnails-fluid vc_clearfix  post_blog "
                                                    data-layout-mode="fitRows"
                                                    style="min-height:60px;">


                                                    <li class="   isotope-item qfy_item_post vc_span12 vc_span_mobile vc_span_mobile12 grid-cat-55 "
                                                        data-animaleinbegin="90%"
                                                        data-animalename="qfyfadeInLeft"
                                                        data-delay="0.3" data-duration=""
                                                        data-postid="16083"
                                                        style="max-width:99.8%;margin-bottom:20px;padding-bottom:20px;border-bottom:1px dotted #e5e5e5;">
                                                        <div class="itembody  itempcbody "
                                                             style="">


                                                            <div class="blog-content wf-td"
                                                                 style="display:block;word-break:break-all">

                                                                <div class="post-title"
                                                                     style="font-weight:normal;color:#333333;line-height:16px; vertical-align: top;  ">
                                                                    <form method="post" action="http://localhost:5000/predict" enctype="multipart/form-data">
                                                                        <table>
                                                                            <tr>
                                                                                <th>
                                                                                    <p style="color: black"><label for="upload_picture"><strong>上传图片: </strong></label></p>
                                                                                </th>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <input id="upload_picture" type="file" size="30" name="photo" style="margin-top:15px;" accept="image/png,image/gif,image/jpeg,image/jpg"/>
                                                                                </td>
                                                                                <td>
                                                                                    <input type="text" class="txt_input" name="dataset" size="30" style="margin-top:15px;"/>
                                                                                </td>
                                                                                <td></td>
                                                                            </tr>
                                                                        </table>
                                                                        <input type="submit" value="提交信息" class="button-new" style="margin-top:30px;margin-left: 2px"/>
                                                                    </form>
                                                                </div>


                                                                <div class="post-comment"
                                                                     style="padding-top:10px;padding-bottom:10px;color:#bababa;font-size:12px;line-height:12px;">
                                                                </div>



                                                                <div class="entry-content post_excerpt"
                                                                     style="color:#999999;font-size:13px;">

                                                                </div>


                                                            </div>

                                                        </div>


                                                    </li>

                                                    <li class="   isotope-item qfy_item_post vc_span12 vc_span_mobile vc_span_mobile12 grid-cat-55 "
                                                        data-animaleinbegin="90%"
                                                        data-animalename="qfyfadeInLeft"
                                                        data-delay="0.2" data-duration=""
                                                        data-postid="16077"
                                                        style="max-width:99.8%;margin-bottom:20px;padding-bottom:20px;border-bottom:1px dotted #e5e5e5;">
                                                        <div class="itembody  itempcbody "
                                                             style="">


                                                            <div class="blog-content wf-td"
                                                                 style="display:block;word-break:break-all">


                                                                <div class="post-title"
                                                                     style="font-weight:normal;color:#333333;line-height:16px; vertical-align: top;  ">
                                                                    <table id="result_list">
                                                                        
                                                                        <br/>
                                                                        <th>
                                                                            <p style="color: black"><label for="upload_picture"><strong>{{ n }}
                                                                                    </strong></label></p>
                                                                        </th>
                                                                        <tr>
                                                                            <td>
                                                                                <img style="width:360px" src="data:;base64,{{ u }}">
                                                                            </td>
                                                                            
                                                                        </tr>
                                                                        
                                                                    </table>
                                                                </div>


                                                                <div class="post-comment"
                                                                     style="padding-top:10px;padding-bottom:10px;color:#bababa;font-size:12px;line-height:12px;">
                                                                
                                                                </div>


                                                                <div class="entry-content post_excerpt"
                                                                     style="color:#999999;font-size:13px;">

                                                                </div>


                                                            </div>

                                                        </div>


                                                    </li>

                                                </ul>

                                            </div>
                                        </div>
                                        <div class="clear"></div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

        </div><!-- .wf-wrap -->
    </div><!-- #main -->


    <footer class="footer" id="footer">
        <div class="wf-wrap">
            <div bitdataaction="site_widget_container" bitdatamarker="sidebar_2" class="wf-container qfe_row footer1">
                <section>
                    <!-- left -->
                    <div class=" qfy-column-3-5e709592778ed647759 qfy-column-inner  vc_span_class  vc_span4  text-Default small-screen-undefined notfullrow"
                         data-animaleinbegin="90%" data-animalename="qfyfadeInUp"
                         data-delay=""
                         data-duration="1"
                         data-dw="1/3" data-fixheight="">
                        <div class="column_inner "
                             style="margin: 0;border-radius:0px;;position:relative;">

                            <div class="column_containter" style="z-index:3;position:relative;">
                                <div class="qfy-element qfy-text qfy-text-47017 qfe_text_column qfe_content_element  mobile_fontsize "
                                     css_animation_delay="0"
                                     data-anitime="0.7" m-padding="11px 0px 0px 0px"
                                     p-padding="11px 0 0 0"
                                     qfyuuid="qfy_column_text_mfzhk-c-c7"
                                     style="position: relative;;;line-height:1.5em;;background-position:left top;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:11px;padding-bottom:0;padding-right:0;padding-left:0;border-radius:0px;">
                                    <div class="qfe_wrapper">
                                        <div style="background-color: rgb(45, 50, 55);color: rgb(255, 255, 255);font-size: 24px;font-family: 微软雅黑;">
                                            联系iMED
                                        </div>
                                    </div>
                                </div>
                                <div class="qfy-element qfy-text qfy-text-41472 qfe_text_column qfe_content_element  mobile_fontsize "
                                     css_animation_delay="0"
                                     data-anitime="0.7" m-padding="11px 0px 0px 0px"
                                     p-padding="11px 0 0 0"
                                     qfyuuid="qfy_column_text_mfzhk-c-c7"
                                     style="position: relative;;;line-height:1.5em;;background-position:left top;background-repeat: no-repeat;;margin-top:0;margin-bottom:0;padding-top:11px;padding-bottom:0;padding-right:0;padding-left:0;border-radius:0px;">
                                    <div class="qfe_wrapper">
                                        <div style="background-color: rgb(45, 50, 55); text-align: center;">

                                            <span style="font-size: 18px;">
                                                <p style="margin: auto; text-align: left;">
                                                    <span style="color:#808080;">
                                                        <span style="font-family: 微软雅黑;">邮箱：11710802@mail.sustech.edu.cn</span>
                                                    </span>
                                                </p>
                                            </span>
                                            <br>
                                            <span style="font-size: 18px;">
                                                <p style="margin: auto; text-align: left;"></p>
                                            </span>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div><!-- .wf-wrap -->

    </footer>
</div><!-- #page -->
</body>
</html>